$lt-gray: #ddd;
$background-dark: #264d00;
$background-light: #800000;
$background-pale: #D1C4E9;
$background-moredark: #1a3300;


@mixin zero-margin($pad-up-down, $pad-left-right) {
margin: 0px auto;
padding: $pad-up-down $pad-left-right;
}

.jumbotron {
@include zero-margin(70px,30px);
background: $background-light ;
color:floralwhite;
min-height: 150px;
}

.mat-toolbar {
background-color: $background-dark;
}

.active {
background: $background-moredark;
}