  <div class="container"
		fxLayout="row"
		fxLayout.sm="column"
		fxLayout.xs="column"
		fxLayoutAlign.gt-md="space-around center"
		fxLayoutGap="10px" 
		fxLayoutGap.xs="0">


		
				<div fxFlex="80" *ngIf="dish"  [@visibility]="visibility" [@expand]>
					<div>
						<h3 >{{dish.name | uppercase}}</h3>
						<hr>
					</div> 
				
				<mat-card>
					<img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
					<mat-card-content>
						<p>{{dish.description}}
						</p>
					</mat-card-content>

						<mat-card-actions>
							
							 <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
							<button mat-button (click)="goBack()">BACK</button>
							<button mat-button>LIKE</button>
							<button mat-button>SHARE</button>
							<span class="flex-spacer"></span>
							<button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
						</mat-card-actions>
					</mat-card>
				</div>
		
		<div fxFlex="60" *ngIf="dish"  [@visibility]="visibility" [@expand]>
			<mat-list  >
				
				<h2 matLine> {{'comments' | uppercase }} </h2>
				
				<mat-list-item *ngFor="let commentario of dish.comments">

					<p matLine><span> {{commentario.comment}} </span></p>
					<p matLine><span> {{commentario.rating}} {{'Stars'}} </span></p>
					<p matLine><span> {{'-- '}}{{commentario.author}}  {{commentario.date | date }} </span>
					</p>
				</mat-list-item>
			</mat-list>
			<mat-list *ngIf="CommentForm.valid">
				<mat-list-item>
					<p matLine><span> {{CommentForm.get('comment').value}}</span></p>
					<p matLine><span> {{CommentForm.get('rating').value}} Stars</span></p>
					<p matLine><span> {{'-- '}} {{CommentForm.get('author').value}}</span></p>
				</mat-list-item>
			</mat-list>
			<br>
			<div fxFill >
				<p>{{ CommentForm.value | json }} {{ CommentForm.status | json }}</p>
				<form novalidate [formGroup]="CommentForm" #foorm="ngForm" (ngSubmit)="onSubmit()">
					<p>
						<mat-form-field >
							<input matInput formControlName="author" placeholder=" Name" type="text" >
							<mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
						</mat-form-field>
					</p>
					
					<mat-slider  formControlName="rating" min="0" max="5" thumbLabel   tickInterval="1"></mat-slider>
					<p>
						<mat-form-field  fxFill>
							<textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
							<mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
						</mat-form-field>
					</p>
					<button type="submit" mat-button class="background-primary text-floral-white"[disabled]= "CommentForm.invalid">Submit</button>
				</form>
			</div>

							
		</div>
		<div [hidden]="dish || errMess">
            <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
          </div>
          <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errMess}}</h4>
          </div>
			
		
</div>			
 

	
